.about-section {
  width: 70vw;
  margin-top: 10vh;
  display: flex;
  text-align: left!important;
  justify-content: space-around;
  @include media(">=phone", "<lgphone") {
    flex-direction: column-reverse;
    margin: 1vh;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column-reverse;
    margin: 1vh;

  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column-reverse;
    margin: 1vh;
  }

  .content {
    @include media(">=phone", "<lgphone") {
      width: 100%;
      margin: 1vh;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
      margin: 1vh;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
      margin: 1vh;
    }

    .exp-wrapper {
      .exp-head {
        text-align: start;
        margin-bottom: 0px;
        padding: 0px;
        margin-top: 0px;
        margin-block-start: 0px;
        margin-block-end: 0px;

      }

      width: 50%;
      margin-right: 10px;
      @include media(">=phone", "<lgphone") {
        width: 100%;
      }
      @include media(">=lgphone", "<tablet") {
        width: 100%;
      }
      @include media(">=tablet", "<desktop") {
        width: 100%;
      }
    }

    .experience-grid {
      display: flex;
      @include media(">=phone", "<lgphone") {
        display: block;
      }
      @include media(">=lgphone", "<tablet") {
        display: block;
      }
      @include media(">=tablet", "<desktop") {
        width: 100%;
      }
    }

    h1 {
      font-size: 3rem;
      line-height: 4px;
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }

    p {
      @include media(">=tablet", "<desktop") {
        text-align: justify;
        word-break: break-all;
        hyphens: auto

      }
    }

    .responsibilities {
      margin-left: 40px;
    }
  }
  .me {
    height: 500px;
  }

  .bio-details {
    margin: 30px;
  }
}

