.section {
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.navbar-wrapper {
  cursor: pointer;
  z-index: 999;
  background-color: #323334;
  color: #d7d7d7;
  position: fixed;
  height: 3.5rem;
  width: 100vw;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;


  .name {
    font-weight: 1000;
    font-size: 2rem;
    color: #d7d7d7;
    text-decoration: none;
    padding-top: 10px;
    background-color: #323334;
    transition: all 0.2s ease-in-out;
    outline: none;
    border: 0px;
    cursor: pointer;
    align-items: center;
    opacity: 0.6;

  }

  .links-wrapper {
    .link-selector {
      color: #d7d7d7;
      height: 11vh;
      font-weight: bold;
      text-decoration: none;
      padding: 10px;
      background-color:  #323334;
      opacity: 0.6;
      transition: all 0.2s ease-in-out;
      font-size: .8rem;
      outline: none;
      border: 0px;
      cursor: pointer;
      align-items: center;

      &:hover {
        background-color: #414141;
        opacity: 1;
      }
    } .active {
        background-color: #181cfd;
        opacity: 1;
        transition: all 0.2s fade-in(#0000ff,.3);
        font-size: 1.8rem;
        text-transform: uppercase;
          padding-top: 30px;


      }
  }
}
